$fonts-path: '../fonts/';
$images-path: '../i/origin/'; //для продакшена сменить на ../i/min/

$ubuntu: 'Ubuntu', sans-serif;

$color-actions: #ea6148;
$color-preferences: #55aeae;
$color-sides: #5b72a8;
$color-meanings: #fdc23e; //теперь это ценности
