.questionnaire {
  display: none;
  position: relative;
  height: 643px;
  width: 800px;
  margin: 18px 0 0 0;

  &::before {
    content: '';
    position: absolute;
    background: transparent url($images-path + 'questionnaire.jpg') 0 0 no-repeat;
    top: 0;
    left: -96px;
    width: 100%;
    height: 100%;
  }

  &__title {
    color: #3176C1;
    cursor: pointer;
  }
}

.share-360 {
  margin: 37px 0 0 0;

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 0 52px 0 0;
  }

  &__link {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    cursor: pointer;
  }

  &__tab {
    margin: 16px 0 0 0;
    display: none;

    &:first-child {
      display: block;
    }

    .expanding-wrapper {
      margin: 40px 0 0 0;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button-save {
    position: relative;
    cursor: pointer;
    width: 323px;
    height: 60px;
    line-height: 52px;
    background: none;
    font-size: 20px;
    color: #343434;
    text-align: center;
    margin: 33px auto 0;
    transition: font-size .2s ease;

    &::before {
      content: '';
      position: absolute;
      left: -3px;
      bottom: 3px;
      width: 319px;
      height: 54px;
      border: 3px solid #ffcb70;
      border-radius: 33px;
      will-change: transform;
      transition: transform .3s ease;
    }

    &:hover {
      &::before {
        transform: scale(1.1);
      }
    }
  }
}

.answers {
  margin: 70px 0 0 0;

  &__title {
    font-size: 20px;
    color: #343434;
    font-weight: 700;
    text-align: center;
  }

  &__filter-wrap {
    position: relative;
    margin: 20px 0 0 0;
  }

  &__filter {
    margin: 20px 0 0 -75px;
    display: flex;
    flex-wrap: wrap;
    width: 763px;
  }

  &__filter-item {
    cursor: pointer;
    font-size: 20px;
    color: #343434;
    font-weight: 700;
    margin: 0 29px 16px 0;
  }

  &__block {
    margin: 38px 0 0;
  }

  &__block-title {
    font-size: 20px;
    color: #1d1b1a;
    font-style: italic;
    background: #e3ecf3;
    width: 100%;
    padding: 11px 10px 15px 19px;
    border-radius: 8px;
  }

  &__item {
    margin: 37px 0 0 0;

    &:last-child {
      margin: 37px 0 71px 0;
    }
  }

  &__item-title {
    font-size: 20px;
    color: #343434;
    font-weight: 700;
  }

  &__item-text {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
    margin: 8px 0 0 0;
  }
}

