.four-level {
  display: flex;
  align-items: center;
  margin: 50px 0 0 0;

  &_reverse {
    flex-direction: row-reverse;
  }

  &_last {
    margin: 50px 0 48px 0;
  }

  &__image {
    width: calc(100% - 300px);
    background: transparent none 100% 0 no-repeat;

    &_ego {
      background-image: url($images-path + 'egocentrism.png');
      height: 188px;
    }

    &_etno {
      background-image: url($images-path + 'etnocentrism.png');
      background-position: 0 0;
      height: 229px;
    }

    &_miro {
      background-image: url($images-path + 'mirocentrism.png');
      background-position: 75% 58%;
      height: 246px;
    }

    &_cosmo {
      background-image: url($images-path + 'cosmocentrism.png');
      background-position: 8% 59%;
      height: 227px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &__label {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
    width: 250px;
    margin: 6px 0 0 0;

    &_ego {
      margin: -13px 0 0 0;
    }
  }

  &__input {
    width: 100%;
    color: #343434;
    font-size: 20px;
    line-height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 7px 0;
    margin: 10px 0 0 0;

    @include placeholder() {
      color: #b7b7b7;
      opacity: 1;
    }
  }
}