.exercises {
  display: flex;
  flex-wrap: wrap;
  padding: 97px 0 0 0;

  &_extra {
    padding: 0 0 0 0;
    margin: 46px 0 0 0;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    color: #343434;
    text-align: center;
  }
}

.exercise {
  position: relative;
  width: 299px;
  margin: 0 51px 65px 0;
  border: 1px solid #fff;
  border-radius: 10px;

  &:hover {
    border: 1px solid #fff;

    .exercise__image {
      opacity: .7;
    }
  }

  &:nth-child(3n) {
    margin: 0 0 65px 0
  }

  &::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 1px solid #d5e1e5;
    border-radius: 10px;
  }

  &__image {
    display: block;
    height: 200px;
    width: 100%;
    border-radius: 9px 9px 0 0;
    transition: opacity .3s ease;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    padding: 0 20px 0 20px;
    text-align: center;
  }
}