.inspiration-example {
  margin: 17px 0 0 0;

  &__title {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    margin: 0 0 18px 0;

    span {
      cursor: pointer;
      color: #949393;
      display: inline-block;
      margin: 0 0 0 33px;
    }
  }

  .step__hint {
    display: none;
  }
}

.inspiration-advice {
  margin: 17px 0 0 0;

  span {
    cursor: pointer;
    color: #343434;
    font-size: 20px;
    font-style: italic;
  }

  .step__hint {
    margin: 18px 0 0 0;
    display: none;
  }

  .step__hint-list li {
    display: block;
    margin: 10px 0 0 0;
  }
}