.way2please {
  display: flex;
  flex-wrap: wrap;
  margin: 46px 0 0 0;

  &__item {
    cursor: pointer;
    position: relative;
    height: 50px;
    line-height: 48px;
    background: #e3ecf3;
    font-size: 19px;
    color: #343434;
    text-align: center;
    border-radius: 25px;
    padding: 0 21px 0 21px;
    margin: 0 10px 20px 0;
    transition: background .3s ease;

    &_active {
      background: #ffcb70;
    }

    &:last-child {
      margin: 0 0 20px 0;
    }
  }

  &__input {
    display: none;
  }
}