//переключатель
.switch {
  margin: 0 19px 0 auto;

  &_mode {
    margin: 3px 17px 0 auto;
  }

  &__checkbox {
    display: none;

    +.switch__label {
      cursor: pointer;
      position: relative;
      top: -1px;
      display: block;
      width: 48px;
      height: 26px;
      border: 2px solid #c9d5df;
      border-radius: 20px;
      overflow: hidden;
      background-color: #c9d5df;

      &::before {
        content: '';
        height: 100%;
        width: 0;
        display: block;
        background-color: #5ec67e;
        transition: width .3s ease;
      }

      &::after {
        content: '';
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 100%;
        transition: left .3s ease;
      }
    }

    &:checked {
      +.switch__label {
        &::before {
          background-color: #5ec67e;
          width: 100%;
        }

        &::after {
          left: 22px;
        }
      }
    }
  }
}

.radio {
  margin: 22px 0 0 0;

  &_profile {
    margin: 49px 0 0 0;
    display: inline-block;

    &:last-child {
      margin: 49px 0 0 28px;
    }
  }

  &__input {
    display: none;

    +.radio__label {
      cursor: pointer;
      position: relative;
      font-size: 20px;
      font-style: italic;
      color: #343434;
      user-select: none;

      &::before {
        content: '';
        position: relative;
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px 0 0;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 2px solid #dbdbdb;
      }
    }

    &:checked {
      +.radio__label {
        &::after {
          content: '';
          position: absolute;
          top: 7px;
          left: 9px;
          background: transparent url($images-path + 'sprite.png') map_get($radio_checked, position) no-repeat;
          width: map_get($radio_checked, width);
          height: map_get($radio_checked, height);
        }
      }
    }

    &_profile {
      +.radio__label {
        font-style: normal;

        &::before {
          width: 20px;
          height: 20px;
        }
      }

      &:checked {
        +.radio__label {
          &::before {
            border-color: #35ab5c;
          }
          &::after {
            top: 8px;
            left: 6px;
            background: transparent url($images-path + 'sprite.png') map_get($radio_checked_profile, position) no-repeat;
            width: map_get($radio_checked_profile, width);
            height: map_get($radio_checked_profile, height);
          }
        }
      }
    }
  }
}

.profile-form {
  margin: 41px auto 0;

  &__input {
    display: block;
    color: #343434;
    font-size: 20px;
    line-height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 6px 0;
    margin: 16px 0 64px 0;
    width: 100%;

    &_password {
      margin: 30px 0 44px 0;
    }
  }

  &__input-label {
    font-size: 20px;
    color: #343434;
    display: block;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    width: 281px;

    &:last-child {
      width: 273px;
    }
  }

  &__textarea {
    display: block;
    color: #343434;
    font-size: 20px;
    line-height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 6px 0;
    margin: 16px 0 64px 0;
    width: 100%;
  }

  &__save {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background: #35ab5c;
    width: 100%;
    height: 90px;
    line-height: 86px;
    margin: 50px auto 0 0;
    border-radius: 46px;
    padding: 0 0 0 13px;
    transition: all .3s ease;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      left: -10px;
      top: -2px;
      background: transparent url($images-path + 'sprite.png') map_get($finish_icon, position) no-repeat;
      width: map_get($finish_icon, width);
      height: map_get($finish_icon, height);
    }

    &:hover{
      background: lighten(#35ab5c, 10%);
    }
  }
}

.password-change {
  background: #f6f8fa;
  border-radius: 20px;
  margin: 74px 0 0 0;
  padding: 34px 63px 0 48px;
  height: 352px;

  &__title {
    color: #343434;
    font-size: 20px;
    font-weight: 700;
  }
}