.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  padding: 0 67px 0 0;
  background: #fff;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(28, 34, 42, 0);
  transition: box-shadow .3s ease;

  &_shadow {
    box-shadow: 0 1px 2px 0 rgba(28, 34, 42, 0.15);
  }

  &_actions {
    border-top: 4px solid $color-actions;
  }

  &_takeaction {
    border-top: 4px solid $color-actions;
  }

  &_preferences {
    border-top: 4px solid $color-preferences;
  }

  &_sides {
    border-top: 4px solid $color-sides;
  }

  &_strengths {
    border-top: 4px solid $color-sides;
  }

  &_meanings {
    border-top: 4px solid $color-meanings;
  }

  &_meaning {
    border-top: 4px solid $color-meanings;
  }
}


.header {
  width: 883px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__logo {
    position: absolute;
    top: 28px;
    left: 39px;
    background: transparent url($images-path + 'logo.png') 0 0 no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    z-index: 1;
  }

  &__sections {
    position: relative;
    width: 298px;
  }

  &__drop-sections {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 1px 20px 0 rgba(28, 34, 42, 0.25);
    position: absolute;
    width: 298px;
    height: 285px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all .3s ease;

    &_is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__section {
    position: relative;
    display: block;
    height: 70px;
    font-size: 20px;
    color: #343434;
    padding: 21px 0 0 53px;
    text-decoration: none;
    transition: background .3s ease;
    border-bottom: none;
    background: #fff;

    &:hover {
      background: #f4f1ee;
    }

    &::before {
      content: '';
      position: absolute;
      left: 29px;
      top: 27px;
      width: 13px;
      height: 13px;
      border-radius: 100%;
    }

    &_current {
      padding: 26px 0 0 53px;
      height: 75px;

      &::before {
        left: 29px;
        top: 34px;
        width: 12px;
        height: 12px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 42px;
        top: 37px;
        background: transparent url($images-path + 'sprite.png') map_get($sections_arrow, position) no-repeat;
        width: map_get($sections_arrow, width);
        height: map-get($sections_arrow, height);
        transition: transform .3s ease;
      }

      &:hover {
        &::after {
          background-position: map_get($sections_arrow_hover, position);
        }
      }
    }

    &_current-open {
      &::after {
        transform: rotate(180deg);
      }
    }

    &_actions {
      &::before {
        background: $color-actions;
      }
    }

    &_takeaction {
      &::before {
        background: $color-actions;
      }
    }

    &_preferences {
      &::before {
        background: $color-preferences;
      }
    }

    &_sides {
      &::before {
        background: $color-sides;
      }
    }

    &_strengths {
      &::before {
        background: $color-sides;
      }
    }

    &_meanings {
      &::before {
        background: $color-meanings;
      }
    }

    &_meaning {
      &::before {
        background: $color-meanings;
      }
    }

    &_no-hover {
      &:hover {
        background: #fff;
      }
    }
  }

  &__menu {
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0 0 0;
  }

  &__menu-item {
    position: relative;
    color: #343434;
    font-size: 20px;
    text-decoration: none;
    border-bottom: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 4px;
      width: 0;
      transition: width .5s ease;
    }

    &_actions {
      &::after {
        background: $color-actions;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_takeaction {
      &::after {
        background: $color-actions;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_preferences {
      &::after {
        background: $color-preferences;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_sides {
      &::after {
        background: $color-sides;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_strengths {
      &::after {
        background: $color-sides;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_meanings {
      &::after {
        background: $color-meanings;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }

    &_meaning {
      &::after {
        background: $color-meanings;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }
  }

  &__personal {
    position: absolute;
    top: 17px;
    right: 30px;
    display: flex;
    align-items: center;
  }

  &__avatar {
    z-index: 1;
    cursor: pointer;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: none;
    background: #f4f1ee none no-repeat scroll 50% 0 / 100% 100%;

    &_no-photo {
      &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        background: transparent url($images-path + 'sprite.png') map-get($header_avatar, position) no-repeat;
        width: map_get($header_avatar, width);
        height: map_get($header_avatar, height);
      }
    }
  }

  &__humburger {
    cursor: pointer;
    background: transparent url($images-path + 'sprite.png') map_get($humburger, position) no-repeat;
    width: map_get($humburger, width);
    height: map_get($humburger, height);
    margin: 1px 0 0 26px;

    &:hover {
      background-position: map_get($humburger_hover, position);
    }
  }

  &__profile {
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(28, 34, 42, 0.25);
    position: absolute;
    z-index: 1;
    left: -210px;
    top: -17px;
    width: 330px;
    height: 220px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease;

    &_is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__name {
    margin: -4px 0 0 19px;
    width: 161px;
  }

  &__profile-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 20px;
    color: #343434;
    padding: 0 0 0 30px;
    background: #fff;
    transition: background .3s ease;
    border: none;

    &:hover {
      background: #f4f1ee;
    }

    &_top {
      cursor: default;
      height: 80px;

      &:hover {
        background: #fff;
      }
    }
  }

  &__profile-ico {
    background: transparent url($images-path + 'sprite.png') 0 0 no-repeat;

    &_settings {
      background-position: map_get($header_settings, position);
      width: map_get($header_settings, width);
      height: map_get($header_settings, height);
      margin: 0 13px 0 0;
    }

    &_exit {
      background-position: map_get($header_exit, position);
      width: map_get($header_exit, width);
      height: map_get($header_exit, height);
      margin: 0 16px 0 0;
    }
  }
}




















