.numeric-list {
  counter-reset: numeric-list 0;
  margin: 45px 0 0 -2px;

  &__item {
    color: #343434;
    font-size: 20px;
    font-style: italic;
    display: flex;
    margin: 0 0 39px 0;

    &::before {
      counter-increment: numeric-list 1;
      content: counter(numeric-list, decimal)'.';
      display: inline-block;
      width: 42px;
      min-width: 42px;
      line-height: 32px;
    }

    &:last-child {
      margin: 0 0 0 0;
    }
  }

  .step__text-input {
    margin: 0 0 0 0;
  }
}

.constructor-list {
  counter-reset: constructor-list 0;
  margin: 35px 0 0 0;

  &__item {
    color: #343434;
    font-size: 20px;
    font-style: normal;
    display: flex;
    margin: 0 0 39px 0;

    &::before {
      counter-increment: constructor-list 1;
      content: counter(constructor-list, decimal)'.';
      display: inline-block;
      width: 35px;
      min-width: 35px;
      line-height: 32px;
    }

    &:last-child {
      margin: 0 0 0 0;
    }
  }

  &__control {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 59px;
    min-width: 59px;
    height: 42px;
    text-align: right;
    font-size: 35px;
    color: #cdd8dd;
    transition: color .3s ease;

    &:hover {
      color: #343434;
    }

    &_minus {
      font-size: 45px;
      padding: 0 3px 9px 0;
    }
  }

  .step__text-input {
    margin: 0 0 0 0;
  }
}

.constructed-list {
  margin: 29px 0 0 0;

  &__item {
    color: #343434;
    font-size: 20px;
    font-style: normal;
    margin: 0 0 60px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }

  &__label {
    display: block;
    font-size: 20px;
    color: #343434;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 16px 0;
  }

  .step__text-input {
    margin: 0 0 0 0;
  }
}