.main {
  margin: 157px 0 0 0;
}

.content-width {
  width: 612px;
  margin: 0 auto;

  &_wide {
    width: 1001px;
  }
}

.content {
  margin: 0 auto 91px;
  opacity: 0;
  transition: opacity 1.5s ease;

  &_displayed {
    opacity: 1;
  }
}

.topic {
  font-weight: 700;
  font-size: 40px;
  color: #343434;
  text-align: center;
  margin: 59px 0 0 0;

  &_exercises {
    margin: 39px 0 0 0;
    font-size: 30px;
  }
}

.description {
  color: #343434;
  font-size: 20px;
  line-height: 35px;
  width: 612px;
  margin: 69px auto 0;
}

.video {
  width: 100%;
  background: #303337;
  margin: 82px 0 0 0;
  padding: 36px 0 55px 0;
}

.quote {
  background: #e3ecf3;
  border-radius: 16px;
  margin: 33px 0 0 0;
  padding: 11px 10px 14px 10px;

  &__text {
    color: #91a1ad;
    font-size: 20px;
    line-height: 35px;
    font-style: italic;
    text-align: center;

    &_title {
      color: #343434;
      margin: 0 0 4px 0;
    }
  }
}

.bi {
  font-style: italic;
  font-weight: 700;
}

.b {
  font-weight: 700;
}

.i {
  font-style: italic;
}

.border-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: transparent url($images-path + 'border-bottom.png') 0 0 repeat-x;
    transition: opacity .3s ease;
    opacity: 1;
  }
  
  &_blue {
    &::after {
      background-image: url($images-path + 'border-bottom-blue.png');
    }
  }

  &_gray {
    &::after {
      background-image: url($images-path + 'border-bottom-gray.png');
    }
  }

  &:hover {
    &::after {
      opacity: .8;
    }
  }
}

.js-hadi {
  display: none;
}

.colorpicker {
  margin: 114px 0 48px 0;

  &__label {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
  }

  &__list {
    display: flex;
    margin: 24px 0 0 4px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 31px 0 0;
    border: 3px solid #434053;
    border-radius: 100%;
    background: #fff;

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      top: -3px;
      left: -3px;
      background: #e0e2ed;
      border-radius: 100%;
      z-index: -1;
      transition: transform .3s ease;
    }

    &:last-child {
      margin: 0 0 0 0;
    }

    &_active {
      &::before {
        transform: scale(2.1);
      }
    }
  }
}

.cloudarea {
  overflow: hidden !important;

  &_active {
    height: 41px;
  }
}

.multiline-placeholder-wrap {
  position: relative;
}

.multiline-placeholder {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
}















