$email_support: (position: 0px -46px, width: 33px, height: 33px);
$finish_icon: (position: -159px -73px, width: 17px, height: 13px);
$footer_community: (position: 0px 0px, width: 47px, height: 26px);
$footer_help: (position: -67px 0px, width: 33px, height: 28px);
$footer_next: (position: -41px -99px, width: 25px, height: 15px);
$header_avatar: (position: -159px -37px, width: 17px, height: 16px);
$header_exit: (position: 0px -99px, width: 21px, height: 22px);
$header_settings: (position: -67px -48px, width: 24px, height: 25px);
$humburger: (position: -120px -47px, width: 18px, height: 17px);
$humburger_hover: (position: -159px 0px, width: 18px, height: 17px);
$radio_checked: (position: -159px -106px, width: 17px, height: 12px);
$radio_checked_profile: (position: -117px -99px, width: 12px, height: 9px);
$sections_arrow: (position: 0px -141px, width: 13px, height: 8px);
$sections_arrow_hover: (position: -33px -141px, width: 13px, height: 8px);
$step_arrow: (position: -120px 0px, width: 19px, height: 27px);
$tag_cloud_remove: (position: -86px -99px, width: 11px, height: 11px);
