.materials {
  display: flex;
  flex-wrap: wrap;
  margin: 63px 0 0 0;

  &_video {
    margin: -3px 0 0 0;
  }

  &__item {
    width: 300px;
    margin: 0 50px 77px 0;

    &:nth-child(3n) {
      margin: 0 0 77px 0;
    }
  }

  &__image-wrap {
    display: flex;
    justify-content: center;
    height: 250px;
    overflow: hidden;

    &_video {
      height: 200px;
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    margin: 19px auto 0;
    border-bottom: none;
    text-align: center;
    max-width: 200px;

    &_video {
      max-width: 250px;
      margin: 22px auto 0;
    }
  }
}