.results {
  margin: 103px 0 0 0;
}

.result {
  position: relative;
  margin: 0 0 61px 0;

  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 8px);
    width: 4px;
    top: 8px;
    left: -25px;
  }
  
  &_actions {
    &::before {
      background: $color-actions;
    }
  }

  &_takeaction {
    &::before {
      background: $color-actions;
    }
  }

  &_meanings {
    &::before {
      background: $color-meanings;
    }
  }

  &_meaning {
    &::before {
      background: $color-meanings;
    }
  }

  &_sides {
    &::before {
      background: $color-sides;
    }
  }

  &_strengths {
    &::before {
      background: $color-sides;
    }
  }

  &_preferences {
    &::before {
      background: $color-preferences;
    }
  }

  &__description {
    font-size: 20px;
    color: #343434;
    line-height: 30px;
  }

  &__textarea {
    display: block;
    line-height: 30px;
    resize: none;
    padding: 0 0 8px 1px;
    margin: 0 0 0 0;
    min-height: 41px;
    width: 100%;
    color: #343434;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;

    @include placeholder() {
      color: #b7b7b7;
      opacity: 1;
    }
  }

  &__button-finish {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background: #35ab5c;
    width: 100%;
    height: 90px;
    line-height: 86px;
    margin: 71px auto 0;
    border-radius: 46px;
    padding: 0 0 0 20px;
    transition: all .3s ease;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      left: -10px;
      top: -2px;
      background: transparent url($images-path + 'sprite.png') map_get($finish_icon, position) no-repeat;
      width: map_get($finish_icon, width);
      height: map_get($finish_icon, height);
    }

    &:hover{
      background: lighten(#35ab5c, 10%);
    }
  }

  .expanding-wrapper {
    margin: 13px 0 0 0;
  }
}