.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0 0;

  &_hidden {
    display: none;
  }

  &__item {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #e3ecf3;
    font-size: 16px;
    color: #343434;
    text-align: center;
    border-radius: 20px;
    padding: 0 45px 0 45px;
    margin: 0 10px 10px 0;

    &::before {
      content: attr(data-weight);
      position: absolute;
      left: 20px;
      color: #343434;
      font-size: 16px;
      font-weight: 700;
    }

    &:last-child {
      margin: 0 0 10px 0;
    }

    &_active {
      .tag-cloud__remove {
        display: block;
      }
    }
  }

  &__remove {
    display: none;
    position: absolute;
    right: 16px;
    top: 15px;
    background: transparent url($images-path + 'sprite.png') map_get($tag_cloud_remove, position) no-repeat;
    width: map_get($tag_cloud_remove, width);
    height: map_get($tag_cloud_remove, height);
    cursor: pointer;
  }
}

.tag-marks {
  margin: 45px 0 0 0;
  display: flex;
  justify-content: space-between;

  &__item {
    cursor: pointer;
    font-size: 20px;
    color: #343434;
    border-bottom: 1px dashed #000;

    &_active {
      border-bottom: none;
    }
  }
}